<div class="navBar">
    <div class="navLogo">
        <img src="favicon.png" alt="Logo" />
        <p>{{logo}}</p>
    </div>

    <div class="navLinks">
        <p>{{link1}}</p>
        <p>{{link2}}</p>
        <p>{{link3}}</p>
    </div>
</div>


<!-- <div class="row">
    <div class="col-3">
        <p>{{firstName}}</p>
    </div>
    <div class="col-3">
        <p>{{version}}</p>
    </div>
    <div class="col-3">
        <p>{{currentDate}}</p>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <input type="text" [value]="firstName" class="formControl">
    </div>
    <div class="col-3">
        <input [type]="inputType">
    </div>
</div> -->


