/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Aquire';
  src: url('assets/fonts/AquireLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Aquire', sans-serif;
}
